* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin: 5px auto 0 auto;
    background-color: #FFFFFF;
    font-size: 12px;
    font-family: system-ui, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

}

div{
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

strong{
    font-weight: bold;
}

article{
    display: block;
}

button{
    cursor: pointer;
}

ul{
    display: block;
}

li {
    display: list-item;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    /*z-index: 10;
    z-index: 20;*/
}

