/* FOOTER */
footer{
    display: block;
}

.footer{
    color: #FFFFFF;
    background-color: #005AC7;
    position:relative;
}

/* FOOTER-CONTENT */
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    padding: 40px 20px 40px 158px;
}

@media screen and (max-width: 1023px){
    .footer-content{
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
    .footer-content{
        padding: 150px 15px 15px;
    }
}

/* FOOTER-QN-BIG */
.footer-QN-big{
    position:absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 158px;
    height: 147px;
}

/* FOOTER-MAIN */
.footer-main{
    margin-bottom: 20px;
    margin-left: 20px;
    z-index: 10;
}

@media screen and (max-width: 1023px){
    .footer-main{
        margin-left: 0;
    }
}

/* FOOTER-LOGO */
.footer-logo{
    display: flex;
    align-items: center;
}

/* FOOTER-LOGO-QN */
.footer-logo-QN{
    height: 26px;
    fill: #4F9EFF;
    margin-right: 20px;
}

/* FOOTER-LOGO-IRDC */
.footer-logo-iRdC{
    height: 24px;
    fill: #FFFFFF;
}

/* FOOTER-TEXT */
.footer-text{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* FOOTER-NEWSPAPERS */
.footer-newspapers{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

@media screen and (max-width: 1023px){
    .footer-newspapers{
        grid-template-columns: repeat(auto-fill, minmax(175px, auto));
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 767px){
    .footer-newspapers{
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }
}

.footer-logo-small{
    height: 15px;
    fill: #000000;
    fill-opacity: .2;
}

/* FOOTER-LINK */
.footer-link{
    display: grid;
    grid-column-gap: 32px;
    column-gap: 32px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

@media screen and (max-width: 767px){
    .footer-link{
        display: none;
    }
}

/* FOOTER-TITLE */
.footer-title{
    opacity: .6;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* FOOTER-ITEM */
.footer-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-item a{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-item a:hover{
    text-decoration: underline;
}

/* FOOTER-LINK-SMALL */
.footer-link-small{
    display: none;
}

@media screen and (max-width: 767px) {
    .footer-link-small{
        display: block;
    }
    .link-box-small{
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid hsl(0deg 0% 98% / 15%);
    }

    .link-title-small{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        opacity: .6;
    }
}

/* FOOTER-INFO */
.footer-info{
    background-color: #0250B0;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* FOOTER-BOX */
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 767px){
    .footer-box{
        flex-direction: column;
        align-items: flex-start;
    }
}

/* COPYRIGHT */
.copyrigth{
    font-size: 11px;
    margin-top: 0;
    opacity: .33;
}

@media screen and (max-width: 767px){
    .copyrigth{
        margin-bottom: 10px;
    }
}

/* FOOTER-LIST */
.footer-list{
    display: flex;
    align-item: center;
    column-gap: 8px;
    font-size: 11px;
}

.footer-list a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer-list a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

.footer-list button{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 11px;
    cursor: pointer;
    padding: 0;
}

.footer-list button:hover{
    color: #FFFFFF;
    text-decoration: underline;
}











